@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

.dm-page-header {
    display: flex;
    justify-content: center;
    padding: 31%;
    background-color: #bfe7f6;
}

.messages-window-block {
    position: absolute;
    background-color:white;
    top: 35%;
    left: 3%;
    width:94%;
    height: 100%;
    border-radius: 20px;      /* Rounded corners */
    overflow: auto; /* Add overflow property */
    padding: 5px;
    margin-bottom: 50px;
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    border: 2px solid #363636; /* Optional: Add a border to visualize the block */; /* Optional: Add a border to visualize the block */
}

.select-user-block {
    position: absolute;
    top: 10%;
    left: 0;
    width: 30%;
    height: 90%;
    overflow: auto; /* Add overflow property */
    padding: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width/height */
}

.direct-messages-block {
    position: absolute;
    background-color: #F2EFEF;
    top: 10%;
    left: 30%;
    width: 70%;
    height: 77%;
    overflow: auto; /* Add overflow property */
    padding: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    border: 1px solid #F2EFEF; /* Optional: Add a border to visualize the block */
}

.message-outer-single-block {

    text-align: left; /* Align text content to the left */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column;
}

.message-single-block {
    display:flex;
    position: relative;
    background-color: white;
    text-align: left; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 40%;
    left: 2%;
    padding: 15px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 10px;      /* Rounded corners */
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    font: normal 13px/1.18 "Inter", sans-serif;
}

.message-single-block-deleted {
    display:flex;
    position: relative;
    background-color: #ffca57dd;
    color: #cf7234;
    text-align: left; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 40%;
    left: 2%;
    padding: 15px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 10px;      /* Rounded corners */
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    font: normal 13px/1.18 "Inter", sans-serif;
    border: 2px solid #cf7234; /* Optional: Add a border to visualize the block */
}

.message-single-block-unread {
    display:flex;
    position: relative;
    background-color: rgb(216, 90, 90);
    color: white;
    text-align: left; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 40%;
    left: 2%;
    padding: 15px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 10px;      /* Rounded corners */
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    border: 2px solid #942116; /* Optional: Add a border to visualize the block */
    font: normal 13px/1.18 "Inter", sans-serif;
}

.message-single-block-self {
    display:flex;
    position: relative;
    background-color: #53a7d0;
    color: white;
    text-align: right; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 47%;
    padding: 15px;
    border-radius: 10px;      /* Rounded corners */
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    font: normal 13px/1.18 "Inter", sans-serif;
}

.message-single-block-self-deleted {
    display:flex;
    position: relative;
    background-color: #ffca57dd;
    color: #cf7234;
    text-align: right; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 47%;
    padding: 15px;
    border-radius: 10px;      /* Rounded corners */
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    font: normal 13px/1.18 "Inter", sans-serif;
    border: 2px solid #cf7234; /* Optional: Add a border to visualize the block */
}

.message-timestamp-block {
    position: relative;
    text-align: left; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 47%;
    left: 2.2%;
    box-sizing: border-box; /* Ensure padding is included in the width/height */;
    font: 500 10px/1.18 "Inter", sans-serif;
}

.message-timestamp-block-unread {
    position: relative;
    text-align: left; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 47%;
    left: 2.2%;
    box-sizing: border-box; /* Ensure padding is included in the width/height */;
    font: 500 10px/1.18 "Inter", sans-serif;
    color:#942116;
}

.message-timestamp-block-self {
    position: relative;
    text-align: left; /* Align text content to the left */
    width: 14%; /* Let the width be determined by content */
    max-width: 50%;
    left: 86.5%;
    box-sizing: border-box; /* Ensure padding is included in the width/height */;
    font: 500 10px/1.18 "Inter", sans-serif;
}

.textbox-msg-block {
    position: absolute;
    top: 87%;
    left: 30%;
    width: 69.86%;
    height: 12.65%;
    border: 1px solid #F2EFEF; /* Optional: Add a border to visualize the block */
    align-items: normal;
}

.textbox-msg-textbox {
    position: absolute;
    width: 86%;
    height: 35%;
    left: 2%;
    border-radius: 10px;      /* Rounded corners */
    background-color: white;
    border: none;
    padding: 10px;
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    font: normal 13px/1.18 "Inter", sans-serif;
    border: 1.5px solid #e3e8ef; /* Optional: Add a border to visualize the block */
    cursor: text; /* Add pointer cursor to indicate it's clickable */
}

.textbox-msg-textbox:focus{
    border: 2px solid #53a7d0; /* Change border color when focused */
    outline-color: none;
    outline: none;
}

.textbox-msg-sendbutton {
    position: absolute;
    left: 92%;
    top: 18%;
    width: 55px;
    height: 42px;
    border-radius: 10px;
    background-color: white;
    border: none;
    font: normal 13px/1.18 "Inter", sans-serif;
    cursor: pointer; /* Add pointer cursor to indicate it's clickable */
}

.send-msg-icon {
    position: relative;
    top: 5%;
    width: 100%;
    height: 100%;
}

.loadmore-messages-button {
    width: 96%;
    height: 10%;
    border-radius: 10px;      /* Rounded corners */
    background-color: white;
    border: none;
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    font: normal 13px/1.18 "Inter", sans-serif;
    cursor: pointer; /* Add pointer cursor to indicate it's clickable */
}

.loadmore-messages-button:hover {
    background-color: #ccc;
}

.individual-user-block {
    background-color: white;
    position: relative;
    text-align: left; /* Align text content to the left */
    width: 95%;
    height: 70px;
    max-height: 100px;
    left: 2%;
    padding: 15px;
    border-radius: 10px;      /* Rounded corners */
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    font: normal 13px/1.18 "Inter", sans-serif;
}

.individual-user-block-selected {
    background-color: white;
    position: relative;
    text-align: left; /* Align text content to the left */
    width: 95%;
    height: 70px;
    max-height: 100px;
    left: 2%;
    padding: 18.5px;
    border-radius: 10px;      /* Rounded corners */
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    font: normal 13px/1.18 "Inter", sans-serif;
    border: 1.5px solid #53a7d0; /* Optional: Add a border to visualize the block */
}

.individual-user-block:hover {
    background-color: #F2EFEF;
}

.individual-user-block-name {
    position: absolute;
    top: 20%;
    left: 17%;
    font: 500 14px/1.18 "Roboto", sans-serif;
}

.individual-user-block-unread-dm{
    position: absolute;
    top: 52%;
    left: 90%;
    padding: 4px;
    border-radius: 3px;      /* Rounded corners */
    background-color: #40C4FF;
    color: white;
    font: 500 13px/1.18 "Roboto", sans-serif;
}

.individual-user-block-latest-msg{
    position: absolute;
    top: 55%;
    left: 17%;
    color: #9A9BB1;
    font: 500 13px/1.18 "Roboto", sans-serif;
}

.individual-user-block-latest-timestamp{
    position: absolute;
    text-align: right;
    top: 23%;
    left: 72%;
    color: #686A8A;
    font: 500 10.5px/1.18 "Roboto", sans-serif;
}

.circle {
    position: absolute;
    left: -1.5%;
    top: 15%;
    width: 37px; /* Adjust size of the circle */
    height: 37px; /* Adjust size of the circle */
    border-radius: 50%; /* Make it a circle */
    background-color: #768799; /* Random color for demonstration */
    margin-top: 1.25%;
    margin-left: 10px; /* Adjust spacing from the message block */
  }

.my-conversations-header-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 9.75%;
    border: 1.5px solid #F2EFEF; /* Optional: Add a border to visualize the block */
}

.my-conversations-header-title {
    position: absolute;
    top: 27%;
    left: 27%;
    width: 50%;
    height: 50%;
    font: 600 20px/1.18 "Roboto", sans-serif;
}

.my-conversations-header-icon {
    position: absolute;
    top: 27%;
    left: 18%;
    width: 10%;
    height: 50%;
    font: 600 20px/1.18 "Roboto", sans-serif;
}

.current-selected-user-info-block {
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 9.75%;
}

.current-select-user-info-block-name {
    position: relative;
    top: 27%;
    left: 8%;
    width: 25%;
    height: 50%;
    font: 600 20px/1.18 "Roboto", sans-serif;
    color: #2C2D3A;
}

.current-select-user-info-block-name-circle {
    position: absolute;
    top: 12%;
    left: 1.5%;
    width: 37px; /* Adjust size of the circle */
    height: 37px; /* Adjust size of the circle */
    border-radius: 50%; /* Make it a circle */
    background-color: #768799; /* Random color for demonstration */
    margin-left: 10px; /* Adjust spacing from the message block */
  }

/* User Story LC-30 Styling*/
.dm-more-button-block {
    position: absolute;
    top: 30%;
    left: 93.5%;
    width: 35px; /* Adjust size of the circle */
    height: 20px; /* Adjust size of the circle */
    border-radius: 5px;
}

/* User Story LC-30 Styling*/
.dm-more-button-block:hover {
    background-color: #F2EFEF;
}

.dm-more-modal {
    background-color: white;
    position: absolute;
    top: 90%;
    left: 73%;
    width: 25%; /* Adjust size of the circle */
    height: 120%; /* Adjust size of the circle */
    border-radius: 10px;
    z-index: 50;
    border: 1.5px solid black; /* Optional: Add a border to visualize the block */
}

.dm-more-modal-block-individualblock {
    position: relative;
    display: flex;
    width: 93%;
    height: 45%;
    left: 2%;
    margin-bottom: 2%;
    align-items: center;
    justify-content: left;
    font: normal 13px/1.18 "Inter", sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 3%;
    border-radius: 5px;
}

.dm-more-modal-block-individualblock:hover {
    background-color: rgb(216, 90, 90);
}

.dm-more-modal-iconsize {
    width: 10%;
    height: auto;
    margin-right: 3%;
}

.dm-msgactions-icons {
    position: absolute;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 3%;
    height: 5%;
    left: 96.5%;
    z-index: 100;
}

.dm-msgactions-size {
    width: 55%;
    height: auto;
}

.dm-msgactions-size:hover {
    filter: invert(29%) sepia(100%) saturate(7000%) hue-rotate(356deg) brightness(70%) contrast(101%);
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(38, 39, 47, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}