@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

.dm-page-header {
    display: flex;
    justify-content: center;
    padding: 31%;
    background-color: #bfe7f6;
}

.messages-window-block {
    position: absolute;
    background-color:white;
    top: 35%;
    left: 3%;
    width:94%;
    height: 100%;
    overflow: auto; /* Add overflow property */
    padding: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    border: 1px solid #ccc; /* Optional: Add a border to visualize the block */
}

.select-user-block {
    position: absolute;
    top: 10%;
    left: 0;
    width: 30%;
    height: 90%;
    overflow: auto; /* Add overflow property */
    padding: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width/height */
}

.direct-messages-block {
    position: absolute;
    background-color: #F2EFEF;
    top: 10%;
    left: 30%;
    width: 70%;
    height: 77%;
    overflow: auto; /* Add overflow property */
    padding: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    border: 1px solid #F2EFEF; /* Optional: Add a border to visualize the block */
}

.message-outer-single-block {

    text-align: left; /* Align text content to the left */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column;
}

.message-single-block {
    display:flex;
    position: relative;
    background-color: white;
    text-align: left; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 40%;
    left: 2%;
    padding: 15px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 10px;      /* Rounded corners */
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    font: normal 13px/1.18 "Inter", sans-serif;
}

.message-single-block-self {
    display:flex;
    position: relative;
    background-color: #53a7d0;
    color: white;
    text-align: right; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 47%;
    padding: 15px;
    border-radius: 10px;      /* Rounded corners */
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    font: normal 13px/1.18 "Inter", sans-serif;
}

.message-timestamp-block {
    position: relative;
    text-align: left; /* Align text content to the left */
    overflow: auto; /* Add overflow property */
    width: auto; /* Let the width be determined by content */
    max-width: 47%;
    left: 2.2%;
    box-sizing: border-box; /* Ensure padding is included in the width/height */;
    font: 500 10px/1.18 "Inter", sans-serif;
}

.message-timestamp-block-self {
    position: relative;
    text-align: left; /* Align text content to the left */
    width: 14%; /* Let the width be determined by content */
    max-width: 50%;
    left: 86.5%;
    box-sizing: border-box; /* Ensure padding is included in the width/height */;
    font: 500 10px/1.18 "Inter", sans-serif;
}

.circle {
    position: relative;
    width: 35px; /* Adjust size of the circle */
    height: 35px; /* Adjust size of the circle */
    border-radius: 50%; /* Make it a circle */
    background-color: #768799; /* Random color for demonstration */
    margin-top: 1.25%;
    margin-left: 10px; /* Adjust spacing from the message block */
  }

.circle-self {
    position: relative;
    width: 35px; /* Adjust size of the circle */
    height: 35px; /* Adjust size of the circle */
    border-radius: 50%; /* Make it a circle */
    background-color: #768799; /* Random color for demonstration */
    margin-top: 1.25%;
    margin-left: 10px; /* Adjust spacing from the message block */
}

.textbox-msg-block {
    position: absolute;
    top: 87%;
    left: 30%;
    width: 69.86%;
    height: 12.65%;
    border: 1px solid #F2EFEF; /* Optional: Add a border to visualize the block */
    align-items: normal;
}

.textbox-msg-textbox {
    position: absolute;
    width: 94%;
    height: 35%;
    left: 2%;
    border-radius: 10px;      /* Rounded corners */
    background-color: white;
    border: none;
    padding: 10px;
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    font: normal 13px/1.18 "Inter", sans-serif;
    border: 1.5px solid #e3e8ef; /* Optional: Add a border to visualize the block */
    cursor: text; /* Add pointer cursor to indicate it's clickable */
}

.textbox-msg-textbox:focus{
    border: 2px solid #53a7d0; /* Change border color when focused */
    outline-color: none;
    outline: none;
}

.textbox-msg-sendbutton {
    position: absolute;
    z-index: 100; /* Bringing to front */
    left: 90%;
    top: 18%;
    width: 8.3%;
    height: 59.5%;
    border-radius: 10px;
    background-color: white;
    border: none;
    font: normal 13px/1.18 "Inter", sans-serif;
    cursor: pointer; /* Add pointer cursor to indicate it's clickable */
}

.send-msg-icon {
    position: relative;
    top: 5%;
    left: 23%;
    width: 55%;
    height: 80%;
}

.loadmore-messages-button {
    width: 96%;
    height: 10%;
    border-radius: 10px;      /* Rounded corners */
    background-color: white;
    border: none;
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    font: normal 13px/1.18 "Inter", sans-serif;
    cursor: pointer; /* Add pointer cursor to indicate it's clickable */
}

.loadmore-messages-button:hover {
    background-color: #ccc;
}

.individual-user-block {
    background-color: #8699ad;
    position: relative;
    text-align: left; /* Align text content to the left */
    width: 95%;
    height: 70px;
    max-height: 100px;
    left: 2%;
    padding: 15px;
    border-radius: 10px;      /* Rounded corners */
    margin-top: 10px; 
    margin-bottom: 10px; /* Add margin bottom for space between blocks */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    font: normal 13px/1.18 "Inter", sans-serif;
}

.individual-user-block-name {
    position: relative;
    left: 15%;
}

.individual-user-block-unread-dm{
    position: relative;
    top:35%;
    left: 90%;
}

.circle {
    position: relative;
    width: 35px; /* Adjust size of the circle */
    height: 35px; /* Adjust size of the circle */
    border-radius: 50%; /* Make it a circle */
    background-color: #768799; /* Random color for demonstration */
    margin-top: 1.25%;
    margin-left: 10px; /* Adjust spacing from the message block */
  }