.match-container {
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    position: relative;
    margin-bottom: 100%;
    background-color: #246072;
}


.pdf-item-match {
    position: relative;
    width: 15vw; /* Fixed width for each PDF item */
    height: 40vh; /* Fixed height for each PDF item to represent a page */
    overflow: hidden; /* Prevent overflow */
    border: 1px solid #ccc; /* Optional: Add a border for visual separation */
    border-radius: 5px; /* Optional: Add some rounding to corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for some depth */
    background-color: #f9f9f9; /* Optional: Background color */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Indicate that it's clickable */
    margin: 10px;
}

.match-button-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    height: 120px;
    margin-top: 5vh;
}

.match-button-container button{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.3em;
    padding: 10px;
    color:#ffffff;
    border: 3px solid #ccc;
    border-radius: 7px;
    background-color: #246072;
    width: 300px;
}

.match-button-container button .message-icon{
    width: 34px;
    margin-right: 10px;
    height: auto;
    margin-bottom: -7px;
}

.match-button-container button .swiping-icon{
    width: 29px;
    margin-left: -30px;
    margin-right: 40px;
    margin-bottom: -7px;
    height: auto;
}

.match-title {
    color:#ffffff;
    font-size: 3em;
    margin: 10px;
}

.match-desc {
    color:#ffffff;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
}

.match-anon-username {
    color:#ffffff;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0px;
}