@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

/* formatting for the preference - container*/
.preferences-container {
    background-color: #bfe7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    padding-top: 20px;
    font-family:'Roboto';
}
/* formatting for the preference - form - container*/
.preferences-form-container {
    position: absolute;
    background-color: #FFFFFF;
    top: 22%;
    padding: 20px 40px 40px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 30%;
    max-height: 450px;
    max-width: 500px;
    font-family: 'Roboto';
}
/* formatting for the heading*/
h2 {
    margin-bottom: 20px;
    color: #333;
}
/* formatting for the submit button*/
.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #26ACD6;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.submit-button:active {
    transform: scale(0.95);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
}
.login-prompt {
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
  }

.login-prompt a {
    color: #146c98;
    text-decoration: none;
  }